<!Doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">

  <title>HealthEz</title>

  <!-- CSS -->
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'details_style.css' %}">
  <!--<link rel="stylesheet" type="text/css" href="details_style.css">-->
</head>

<body>

  <!-- NAV BAR-->
  <header id="header">
    <div>
      {% load static %}
      <img id="logo" img src="{% static 'images/healthez_logo.png' %}" alt="healthez logo">
      <!--<img id="logo" img src="images/healthez_logo.png" alt="healthez logo">-->
    </div>
    <nav id="nav-bar">
      <ul>
        <li>
          <a class="nav-link" href="../form"><b>Go back</b></a>
        </li>
      </ul>
    </nav>
  </header>

  <div class="info-container">
    <div class="info">
      <!-- PICTURE OF ITEM-->
      <img img src="{{ img_url }}" id="food_image" width="231" height="231" alt="{{item.name}} image"> 

      <!--<img img src="images/grocery_stock.jpg" id="food_image" width="231" height="231" alt="{{item.name}} image">-->
    
      <br>
      <br>

      <h3>Food Item</h3> 
      <br>
      {{obj.title}}
      <br>
      {{obj.description}}
    </div>

    <div class="info bullets">
      <!-- TAGS -->
      <h3>Important Tags</h3>
      <ul>
        <li>
        {% for badge in obj.badges %}
      </li>
        <li>
          {{badge}}
        </li>
        {% endfor %}
      </ul>
    </div>

    <div class="info">
      <h3>Calories</h3>
      {{obj.nutrition.calories}}
    </div>

    <div class="info">
      <h3>Caloric breakdown</h3>
      {{obj.nutrition.caloric_breakdown}}
      </div>

      <div class="info">
      <h3>Fat</h3>
      {{obj.nutrition.fat}}
      </div>

      <div class="info">
      <h3>Protein</h3>
      {{obj.nutrition.protein}}
    </div>


    <div class="info">
      <h3>Carbohydrates</h3>
      {{obj.nutrition.carbs}}
      </div>


    <div class="nutrients">
    <!--Nutrients: {{obj.nutrition.nutrients}}-->
    <h3>Nutrients</h3>
    <ul>
      {% for nutrient in obj.nutrition.nutrients %}
      <li>
        {{nutrient.title}}:
        {{nutrient.amount}} {{nutrient.unit}},
        {{nutrient.percentOfDailyNeeds}}% Daily Value
      </li>
      {% endfor %}
    </ul>

    </div>



    <div class ="info bullets">
    <!-- Ingredients -->
    <h3>Ingredients</h3>
    <ul>
      {% for ingredient in obj.ingredients %}
      <li>
        {{ingredient.name}}
      </li>
      {% endfor %}
    </ul>
  </div>

  </div>



</body>

</html>