<!Doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8" >
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge" >
        {% load static %}
        <link rel="stylesheet" href="{% static 'input.css' %}">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
                                                
        <title>HealthEz</title>
    </head>
        
    <body>
        <h1>Food Stats</h1>

        
        
    </body>
</html>