<!Doctype html>
<html lang="en">
    
  <head>
    <meta charset="utf-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge" >
      {% load static %}
      <link rel="stylesheet" href="{% static 'input.css' %}">
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
                                            
    <title>HealthEz</title>
  </head>
    
     <body>
         <h1>Create your list</h1>
         
      <div class="form">
        <form action="/addItem/" method="POST">
          {% csrf_token %}
          <input type="text" name="name" autocomplete="off" id="foodInput"required>
          <input type="submit" id="add">
          <label for="name" class="label-name" >
            <span class="content-name">Input</span>
          </label>
        </form>
      </div>

      <ul id="Food List">
        {% for list_item in all_items %}
        <li>{{ list_item.content }}</li>
        <form action="/deleteItem/{{list_item.id}}" style="display:inline;" method="POST">{% csrf_token %}
          <input type="submit" value="X">
        </form>
        {% endfor %}
      </ul>
    

    
    
  </body>
</html>