<!Doctype html>
<html lang="en">
    
  <head>
    <meta charset="utf-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge" >
      {% load static %}
      <link rel="stylesheet" href="{% static 'input.css' %}">
      <link rel="preconnect" href="https://fonts.gstatic.com">
      <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">
                                            
    <title>HealthEz</title>
  </head>
    
     <body>
         <h1>Choose an item to add to your list</h1>

      <ul id="Food List">
        {% for item in search_items %}
        <li>{{ item.title }}</li>
        <form action="/addItem/{{item.id}}" style="display:inline;" method="POST">{% csrf_token %}
          <input type="submit" value="X">
        </form>
        <img img src="{{ item.img_url }}" alt="{{item.name}} logo">
        {% endfor %}
      </ul>
    

    
    
  </body>
</html>