<!Doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">

  <title>HealthEz</title>

  <!-- CSS -->
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'item_style.css' %}">
</head>

<body>

  <!-- NAV BAR-->
  <header id="header">
    <div>
      {% load static %}
      <img id="logo" img src="{% static 'images/healthez_logo.png' %}" alt="healthez logo">
    </div>
    <nav id="nav-bar">
      <ul>
        <li>
          <a class="nav-link" href="../form"><b>Go back</b></a>
        </li>
      </ul>
    </nav>
  </header>


  <h1>Choose an item to add to your list</h1>

  <div class="food-list-container">

    <div class="food-item">
      <ul id="food-list">
        {% for item in search_items %}

        <!-- PICTURE OF ITEM-->
        <img img src="{{ item.img_url }}" id="myImage" width="231" height="231" alt="{{item.name}} logo">
        <br>

        <!-- NAME OF ITEM -->
        <li>{{ item.title }}</li>
        <br>

        <!-- ADD BUTTON -->
        <form action="/addItem/{{item.id}}" style="display:inline;" method="POST">{% csrf_token %}
          <input type="submit" value="ADD">
        </form>
        <br>
        <br>

        {% endfor %}
      </ul>
    </div>

    <div class="food-item">
      <ul id="food-list">
        {% for item in search_items %}

        <!-- PICTURE OF ITEM-->
        <img img src="{{ item.img_url }}" id="myImage" width="231" height="231" alt="{{item.name}} logo">
        <br>


        <!-- NAME OF ITEM -->
        <li>{{ item.title }}</li>
        <br>

        <!-- ADD BUTTON -->
        <form action="/addItem/{{item.id}}" style="display:inline;" method="POST">{% csrf_token %}
          <input type="submit" value="ADD">
        </form>
        <br>
        <br>

        {% endfor %}
      </ul>
    </div>


    <div class="food-item">
      <ul id="food-list">
        {% for item in search_items %}

        <!-- PICTURE OF ITEM-->
        <img img src="{{ item.img_url }}" id="myImage" width="231" height="231" alt="{{item.name}} logo">
        <br>


        <!-- NAME OF ITEM -->
        <li>{{ item.title }}</li>
        <br>

        <!-- ADD BUTTON -->
        <form action="/addItem/{{item.id}}" style="display:inline;" method="POST">{% csrf_token %}
          <input type="submit" value="ADD">
        </form>
        <br>
        <br>

        {% endfor %}
      </ul>
    </div>

  </div>
</body>

</html>