*{
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0px;
}

body{
    color: black;
    background: #FFFAEB;
}

h1{
    font-size 4opx;
    margin:0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
}

.main{
    width: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    vertical-align: middle;
}

.main .input_group{
    position: relative;
    margin: 30px 0;
}

.submit_btn{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

label{
    position: absolute;
    color: white;
    top: 0;
    font-size: 16px;
    margin: 10px;
    padding: 0 10px;
    cursor: text;
    background: #00C922;
    transition: top 0.2s ease-in-out;
}
.active{
    top: -20px
}

.box{
    width: 100%;
    padding: 12px 10px;
    border: 2px solid #00C922;
    background: #FFFAEB;
    color: #00C922;
}

.box:focus{
    outline: none;
}
#Message{
    height 100px;
}
.submit_btn{
    border:2px solid #00C922;
    color: white;
    background: #00C922;
    padding: 15px 50px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: 0.8s all;
}
.submit_btn:hover{
    background: #FFFAEB;
    color: black;
    border: 2px solid #00C922;
}

/*
.remove_btn{
    border:transparent;
    color: transparent;
    background: transparent;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    transition: 0.8s all;
}
.remove_btn:hover{
    background: red;
    color: #fff;
}
*/

.special{
    color:#00C922;
    background: transparent;
    border: #00C922;;
    font-size: 20px;
    border-radius: 25px;
    
}

.special:hover{
    background: #E71D36;
    color: #fff;
}


