*{
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0px;
}

body{
    color: black;
    background: #FFFAEB;
    
}

h1{
    font-size: 40px;
    margin:0;
    padding: 0;
    position: relative;
    text-align: center;
    text-transform: uppercase;
}

h3{
    margin:0;
    padding: 0;
    position: relative;
    text-align: center;
}

.main{
    width: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    vertical-align: middle;
    
}

.main .input_group{
    position: relative;
    margin: 30px 0;
}

.candy{
   position: static;
}
.submit_btn{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

label{
    position: absolute;
    color: white;
    top: 0;
    font-size: 16px;
    margin: 10px;
    padding: 0 10px;
    cursor: text;
    background: #00C922;
    transition: top 0.2s ease-in-out;
    border-radius: 25px;
}
.active{
    top: -20px
}

.box{
    width: 100%;
    padding: 12px 10px;
    border: 2px solid #00C922;
    background: #FFFAEB;
    color: #00C922;
    border-radius: 25px;
}

.box:focus{
    outline: none;
}
#Message{
    height: 100px;
}
.submit_btn{
    border:2px solid #00C922;
    color: white;
    background: #00C922;
    padding: 15px 50px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: 0.8s all;
    border-radius: 25px;
}
.submit_btn:hover{
    background: #FFFAEB;
    color: black;
    border: 2px solid #00C922;
}

/*
.remove_btn{
    border:transparent;
    color: transparent;
    background: transparent;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    transition: 0.8s all;
}
.remove_btn:hover{
    background: red;
    color: #fff;
}
*/

.special{
    color:#00C922;
    background: transparent;
    border: #00C922;;
    font-size: 20px;
    border-radius: 25px;
    position: inline-block;
    
}


.special:hover{
    background: #E71D36;
    color: #fff;
}


/* Dropdown Button */
.dropbtn {
  background-color: transparent;
  color: black;
  padding: 12px;
  font-size: 16px;
  border: none;

   
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: absolute;
  display: inline;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: relative;
  background-color: white;
  min-width: 0%;
  font-size: 20px;
    max-width: 100%;
    z-index: 999;
    
}
.dropdown-content a {
    color: black;
font-family: 'Poppins', sans-serif;
letter-spacing: 0px;
    text-decoration: none;
    background-color: white;
    z-index: 999;
    font-size: 16px;
    line-height: 0px;
    
}

.fire a{
    position: relative;
    float: left;
}

.water a{
    position: absolute;
    float: center;
}

.soup a{
    position: relative;
}





/* Change color of dropdown links on hover 
.dropdown-content a:hover {background-color: #00C922;}*/

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block; }

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {border-radius: 25px; background-color: #00C922; border: transparent;}