*{
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0px;
}

body{
    color: black;
    background: #FFFAEB;
}

h1{
    font-size: 40px;
    margin:0;
    padding: 0;
    text-align: center;
    text-transform: uppercase;
}

.main{
    width: 700px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
    vertical-align: middle;
}

.main .input_group{
    position: relative;
    margin: 30px 0;
}

.submit_btn{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

label{
    position: absolute;
    color: white;
    top: 0;
    font-size: 16px;
    margin: 10px;
    padding: 0 10px;
    cursor: text;
    background: #00C922;
    transition: top 0.2s ease-in-out;
}
.active{
    top: -20px
}

.box{
    width: 100%;
    padding: 12px 10px;
    border: 2px solid #00C922;
    background: #FFFAEB;
    color: #00C922;
}

.box:focus{
    outline: none;
}
#Message{
    height: 100px;
}
.submit_btn{
    border:2px solid #00C922;
    color: white;
    background: #00C922;
    padding: 15px 50px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    transition: 0.8s all;
}
.submit_btn:hover{
    background: #FFFAEB;
    color: black;
    border: 2px solid #00C922;
}

/*
.remove_btn{
    border:transparent;
    color: transparent;
    background: transparent;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    transition: 0.8s all;
}
.remove_btn:hover{
    background: red;
    color: #fff;
}
*/

.special{
    color:#00C922;
    background: transparent;
    border: #00C922;;
    font-size: 20px;
    border-radius: 25px;
    
}

.special:hover{
    background: #E71D36;
    color: #fff;
}


/* Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}